<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Navigation-->
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/">Vegetable Shop</a>
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Best selling</a>
        </li>

      </ul>


      <div class="d-flex">
        <form action="search" class="d-flex me-2" role="search">
          <div class="">
            <div class="input-group">
              <input
                      class="form-control border"
                      type="Search"
                      placeholder="Search"
                      id="example-search-input"
              />
              <div class="d-flex">
                <button
                        class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5"
                        type="submit"
                >
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </div>
        </form>

        <a th:href="@{/checkout}" id="cart-button" class="btn btn-outline-dark mx-1">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </a>

        <!-- Khi chưa đăng nhập hiện phần này -->
        <a th:if="${customer == null}" class="btn btn-outline-primary mx-1" href="/login"> Login </a>
        <a th:if="${customer == null}" class="btn btn-primary mx-1" href="/signup"> Sign up </a>
        <!-- Khi đã đăng nhập hiện phần này -->
        <button th:if="${customer != null}" class="btn nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-circle me-1"></i>
            <span th:utext="${customer.getFullname()}">Quốc Nam</span>
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </button>
      </div>
    </div>
  </div>
</nav>
</body>
</html>